# Copy this file to .env for local development.
FLASK_APP=app
WEATHER_DB_PATH=instance/weather.db
OPENAI_API_KEY="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"
